<div class="col-sm-6 col-sm-offset-3">
  <div class="well">

    <h4><%= @subscription_plan.name %></h4>
    <%= render 'payola/subscriptions/checkout', plan: @subscription_plan,
               button_text: "click me!",
               button_class: "btn btn-success",
               quantity: 21,
               name: "name yo'",
               description: 'do dee do',
               plan_image_path: image_path("spacepup_91x90.png"),
               panel_label: 'buy this things',
               allow_remember_me: false,
               email: current_advertiser.email %>

  </div>
</div>


<%= link_to 'Back', subscription_plans_path %>