

<%= render "layouts/dashboard/checklist", advertiser: @advertiser %>

<%= render "layouts/dashboard/subscription", subscription: @advertiser.subscription %>


<hr>


<div class="col-md-4">
  <div class="card">
    <div class="header">
      <h4 class="title">Email Statistics</h4>
      <p class="category">Last Campaign Performance</p>
    </div>
    <div class="content">
      <!--<iframe src="http://stingersbx.api.beeswax.com/buzz/public/CreativePreview.php?token=620UKRxP933vEfv5Xsc1p3YvPOWpVlH1nHW8ytXI" style="width: 728px; height: 90px;" frameborder="0"></iframe>-->

      <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

      <div class="footer">
        <div class="legend">
          <i class="fa fa-circle text-info"></i> Open
          <i class="fa fa-circle text-danger"></i> Bounce
          <i class="fa fa-circle text-warning"></i> Unsubscribe
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="card">
    <div class="header">
      <h4 class="title">Users Behavior</h4>
      <p class="category">24 Hours performance</p>
    </div>
    <div class="content">
      <div id="chartHours" class="ct-chart"></div>
      <div class="footer">
        <div class="legend">
          <i class="fa fa-circle text-info"></i> Open
          <i class="fa fa-circle text-danger"></i> Click
          <i class="fa fa-circle text-warning"></i> Click Second Time
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<script !src="">
  var data = {
    labels: ['1', '2', '3', '4', '5', '6'],
    series: [
      {
        data: [1, 2, 3, 5, 8, 13]
      }
    ]
  };

  /* Set some base options (settings will override the default settings in Chartist.js *see default settings*). We are adding a basic label interpolation function for the xAxis labels. */
  var options = {
    axisX: {
      labelInterpolationFnc: function(value) {
        return 'Calendar Week ' + value;
      }
    }
  };

  /* Now we can specify multiple responsive settings that will override the base settings based on order and if the media queries match. In this example we are changing the visibility of dots and lines as well as use different label interpolations for space reasons. */
  var responsiveOptions = [
    ['screen and (min-width: 641px) and (max-width: 1024px)', {
      showPoint: false,
      axisX: {
        labelInterpolationFnc: function(value) {
          return 'Week ' + value;
        }
      }
    }],
    ['screen and (max-width: 640px)', {
      showLine: false,
      axisX: {
        labelInterpolationFnc: function(value) {
          return 'W' + value;
        }
      }
    }]
  ];

  /* Initialize the chart with the above settings */
  new Chartist.Line('#chartHours', data, options, responsiveOptions);
</script>
