<!--%= render "creative_assets/form", creative_asset: CreativeAsset.new, campaign: @campaign %>-->

<%= form_tag "/ad_library", method: :post, class: 'dropzone form', id: 'media-dropzone' do %>
  <div class="fallback">
    <%= file_field_tag "mounted_asset", multiple: true %>
  </div>

  <%= hidden_field_tag "creative_asset[campaign_id]", campaign.id %>

<% end %>


<script !src="">
  $(function() {
    Dropzone.autoDiscover = false;

    $("#media-dropzone").dropzone({
      maxFilesize: 1,
      autoQueue: true,
      addRemoveLinks: false,
      paramName: "creative_asset[mounted_asset]",
      acceptedFiles: "image/*, .jpg, .jpeg, .png",
      thumbnailWidth: null,
      thumbnailHeight: null,
      init: function() {
        this.on("thumbnail", function(file, dataUrl) {
          $('.dz-image').last().find('img').attr({width: "100%", height: "100%"});
        }),
        this.on("success", function(file) {
          $('.dz-image').css({"width":"100%", "height":"auto"});
        })
      },
      error: function (file, message, xhr) {

      },
      sending: function (file, xhr, formdata) {

      },
      success: function (file, response) {

      },
      complete: function(file) {
        if (this.getRejectedFiles().length == 0 && this.getAcceptedFiles().length > 0) {
          $.notify({
                icon: 'pe-7s-speaker',
                message: file.name + " successfully uploaded"
              },{
                type: 'info',
                timer: 2000,
                placement: { from: "top", align: "center" }
              }
          );
          var response = JSON.parse(file.xhr.response);
          appendFileRow($('tbody'), response);
          this.removeAllFiles();
        } else {
          $.notify({
                icon: 'pe-7s-attention',
                message: message
              },{
                type: 'warning',
                timer: 2000,
                placement: { from: "top", align: "center" }
              }
          );
        }
      }
      //addedfile: function(file) {
      //  // Hookup the start button
      //  $(".upload-ads-button").onclick = function () {
      //    creativeAssetDropzone.enqueueFile(file);
      //  }
      //}
      //removedfile: function(file) {
      //  debugger;
      //}
    });
  });

  function appendFileRow($target, file) {
    var maxWidth = file.width / 2;
    var template = "\
      <tr>\
        <td>\
            <img class='image-responsive' style='max-width:"+ maxWidth + "px' \
            src='/uploads/creative_asset/mounted_asset/_ID_/_FILENAME_'>\
        </td>\
        <td><a href='/ad_library/_ID_'>_FILENAME_</a></td>\
        <td>Now</td>\
        <td>_WIDTH_x_HEIGHT_</td>\
        <td></td>\
      </tr>";
    html = template.replace(/_ID_/g, file.id)
        .replace(/_FILENAME_/g, file.name)
        .replace(/_WIDTH_/g, file.width)
        .replace(/_HEIGHT_/g, file.height);
    $target.append(html);
  }
</script>
