---
http_interactions:
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"<BEESWAX_API_USER>","password":"<BEESWAX_API_PASSWORD>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "Cookie set successfully"
        }
  recorded_at: Wed, 05 Oct 2016 03:55:07 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/advertiser
    body:
      encoding: UTF-8
      string: '{"alternative_id":"email.com","advertiser_name":"advertiser2@email.com","attributes":{"advertiser":{"advertiser_domain":["http://www.adlinks.co"],"advertiser_category":["IAB24"]}},"default_click_url":"http://email.com","notes":null,"conversion_method_id":1}'
    headers:
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": false,
            "message": "advertiser could not be created",
            "errors": [
                "ERROR: Advertiser name already in use"
            ]
        }
  recorded_at: Wed, 05 Oct 2016 03:55:08 GMT
recorded_with: VCR 3.0.3
