---
http_interactions:
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"<BEESWAX_API_USER>","password":"<BEESWAX_API_PASSWORD>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "Cookie set successfully"
        }
  recorded_at: Wed, 05 Oct 2016 04:26:50 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/campaign
    body:
      encoding: UTF-8
      string: '{"advertiser_id":38617,"campaign_name":"campaign_1","campaign_budget":100.0,"daily_budget":1.0,"budget_type":0,"start_date":"2016-10-05T04:26:49.230Z","frequency_cap":[{"impressions":1,"duration":3600},{"impressions":2,"duration":86400},{"impressions":10,"duration":604800}],"notes":null,"active":true,"pacing":0}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "campaign created with ID = 36718",
            "payload": {
                "id": 36718
            }
        }
  recorded_at: Wed, 05 Oct 2016 04:26:50 GMT
recorded_with: VCR 3.0.3
