---
http_interactions:
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"<BEESWAX_API_USER>","password":"<BEESWAX_API_PASSWORD>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "Cookie set successfully"
        }
  recorded_at: Wed, 05 Oct 2016 04:48:23 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/segment
    body:
      encoding: UTF-8
      string: '{"segment_name":"campaign_2_include_segment","advertiser_id":38617}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "segment created with ID = 5528",
            "payload": {
                "id": 5528,
                "key": "stingersbx-5528"
            }
        }
  recorded_at: Wed, 05 Oct 2016 04:48:24 GMT
recorded_with: VCR 3.0.3
