---
http_interactions:
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"<BEESWAX_API_USER>","password":"<BEESWAX_API_PASSWORD>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "Cookie set successfully"
        }
  recorded_at: Wed, 05 Oct 2016 07:35:59 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/creative_asset
    body:
      encoding: UTF-8
      string: '{"advertiser_id":38617,"creative_asset_name":"level_end_300x250.jpg","size_in_bytes":19370,"active":false}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "creative_asset created with ID = 7958",
            "payload": {
                "id": 7958
            }
        }
  recorded_at: Wed, 05 Oct 2016 07:36:00 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/creative_asset/upload/7958
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "creative_asset created with ID = 7958",
            "payload": {
                "id": 7958
            }
        }
  recorded_at: Wed, 05 Oct 2016 07:36:01 GMT
- request:
    method: get
    uri: https://stingersbx.api.beeswax.com/rest/creative_asset/7958
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - FormBased realm="Buzz"
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "payload": [{
                "creative_asset_id": 7958,
                "advertiser_id": 38617,
                "creative_asset_name": "level_end_300x250.jpg",
                "creative_thumbnail_name": null,
                "asset_type": "IMAGE",
                "mime_type": null,
                "path_to_asset": null,
                "size_in_bytes": 19370,
                "metadata": [],
                "account_id": 94,
                "create_date": "2016-10-05 03:36:00",
                "update_date": "2016-10-05 03:36:00",
                "alternative_id": null,
                "notes": null,
                "active": true,
                "buzz_key": "stingersbx"
            }]
        }
  recorded_at: Wed, 05 Oct 2016 18:21:15 GMT
recorded_with: VCR 3.0.3
