---
http_interactions:
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"<BEESWAX_API_USER>","password":"<BEESWAX_API_PASSWORD>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "Cookie set successfully"
        }
  recorded_at: Wed, 05 Oct 2016 21:10:55 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/creative
    body:
      encoding: UTF-8
      string: '{"advertiser_id":38617,"creative_name":"(campaign_2) - level_end_300x250.jpg","creative_type":0,"width":300,"height":250,"secure":false,"click_url":null,"creative_assets":[7958],"creative_content":{},"creative_template_id":1,"active":true,"sizeless":false}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "creative created with ID = 24452",
            "payload": {
                "id": 24452
            }
        }
  recorded_at: Wed, 05 Oct 2016 21:10:55 GMT
- request:
    method: get
    uri: https://stingersbx.api.beeswax.com/rest/creative/24452
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "payload": [
                {
                    "creative_id": 24452,
                    "advertiser_id": 38617,
                    "creative_type": 0,
                    "creative_template_id": 1,
                    "creative_status_id": 1,
                    "creative_rule_id": null,
                    "width": 300,
                    "height": 250,
                    "sizeless": false,
                    "secure": false,
                    "click_url": "http://email.com",
                    "creative_name": "(campaign_2) - level_end_300x250.jpg",
                    "creative_attributes": {
                        "advertiser": {
                            "advertiser_domain": [
                                "http://www.adlinks.co"
                            ],
                            "advertiser_category": [
                                "IAB24"
                            ]
                        },
                        "technical": {
                            "banner_mime": [
                                "image/jpeg"
                            ],
                            "tag_type": [
                                2
                            ]
                        }
                    },
                    "creative_approvals": {
                        "pending": [
                            1
                        ]
                    },
                    "creative_assets": [
                        7958
                    ],
                    "creative_addons": [

                    ],
                    "pixels": [

                    ],
                    "scripts": [

                    ],
                    "creative_content": {
                        "IMAGE_NAME": "{{MEDIA_HOST}}/stingersbx/94/38617/7958_level_end_300x250.jpg"
                    },
                    "creative_content_munge": "<a href='{{CLICK_URL}}' target='_blank'><img src='{{MEDIA_HOST}}/stingersbx/94/38617/7958_level_end_300x250.jpg' alt='tap here' width='{{WIDTH}}' height='{{HEIGHT}}'></a><img src='{{IMPRESSION_URL}}' width='0' height='0'>",
                    "preview_token": "DiUfLS5Ch2ntZyoF4WxZPH2IEjNfTwVxPQMBISe0",
                    "creative_thumbnail_url": "/stingersbx/94/38617/thumb/7958_level_end_300x250_thumb.jpg",
                    "start_date": null,
                    "end_date": null,
                    "frequency_cap": [

                    ],
                    "push_status": 0,
                    "push_update": true,
                    "account_id": 94,
                    "create_date": "2016-10-05 17:10:55",
                    "update_date": "2016-10-05 17:10:55",
                    "alternative_id": null,
                    "notes": null,
                    "active": true,
                    "buzz_key": "stingersbx"
                }
            ]
        }
  recorded_at: Wed, 05 Oct 2016 21:10:56 GMT
recorded_with: VCR 3.0.3
