---
http_interactions:
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"<BEESWAX_API_USER>","password":"<BEESWAX_API_PASSWORD>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "Cookie set successfully"
        }
  recorded_at: Wed, 05 Oct 2016 06:58:36 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/targeting_template
    body:
      encoding: UTF-8
      string: '{"template_name":"campaign_2_test_line_item1_targeting","alternative_id":"","strategy_id":1,"targeting":{"segment":[{"include":{"segment":["stingersbx-5528"]}},{"exclude":{"segment":["stingersbx-5528"]}}],"inventory":[{"include":{"inventory_source":[0]}}]},"active":true}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "targeting_template created with ID = 14695",
            "payload": {
                "id": 14695
            }
        }
  recorded_at: Wed, 05 Oct 2016 06:58:37 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/line_item
    body:
      encoding: UTF-8
      string: '{"campaign_id":36718,"advertiser_id":38617,"line_item_name":"test_line_item1","alternative_id":null,"line_item_type_id":0,"targeting_template_id":14695,"line_item_budget":14.285714285714286,"daily_budget":0.14285714285714285,"budget_type":0,"bidding":{"bidding_strategy":"cpm","values":{"cpm_bid":1.0}},"start_date":"2016-10-05T06:58:36.408Z","notes":null,"active":false,"e":0}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "line_item created with ID = 16697",
            "payload": {
                "id": 16697
            },
            "errors": [
                "WARNING: The Line Item pacing field id deprecated. Use a paced Bidding Strategy instead"
            ]
        }
  recorded_at: Wed, 05 Oct 2016 06:58:38 GMT
recorded_with: VCR 3.0.3
