---
http_interactions:
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"<BEESWAX_API_USER>","password":"<BEESWAX_API_PASSWORD>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "Cookie set successfully"
        }
  recorded_at: Wed, 05 Oct 2016 04:00:02 GMT
- request:
    method: post
    uri: https://stingersbx.api.beeswax.com/rest/advertiser
    body:
      encoding: UTF-8
      string: '{"alternative_id":"email.com","advertiser_name":"test_advertiser1@email.com","attributes":{"advertiser":{"advertiser_domain":["http://www.adlinks.co"],"advertiser_category":["IAB24"]}},"default_click_url":"http://email.com","notes":null,"conversion_method_id":1}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "success": true,
            "message": "advertiser created with ID = 38617",
            "payload": {
                "id": 38617
            }
        }
  recorded_at: Wed, 05 Oct 2016 04:00:03 GMT
recorded_with: VCR 3.0.3
