
<!-- https://codyhouse.co/gem/css-faq-template/ -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "pages/faq/style" %>


<br><br><br><br><br>

<section class="cd-faq">
  <ul class="cd-faq-categories">
    <br><br><br>
    <li><a class="selected" href="#basics">Basics</a></li>
    <li><a href="#account">Account</a></li>
    <li><a href="#payments">Payments</a></li>
    <li><a href="#privacy">Privacy</a></li>
  </ul>

  <div class="cd-faq-items">
    <ul id="basics" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Basics</h2></li>

      <li>
        <a class="cd-faq-trigger" href="#0">How does it work?</a>
        <div class="cd-faq-content">
          <p>We use a method called <b>retargeting</b> that allows us to target your advertising to only those people who have been to your website before. Focusing on people who have been to your site guarantees the highest return on your investment. </p>
          <br>
          <p>To operate a retargeting campaign, we need to place our HTML tag on your website, where it places a cookie in your visitor's browser, allowing us to advertise to them later.</p>
        </div>
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Where will my ads go?</a>
        <div class="cd-faq-content">
          <p>Your ads follow your most likely customers, so they can be placed almost anywhere on the internet. We use a process called "real-time bidding" that allows us to buy ad-space from the Ad Networks and Ad Exchanges that control media inventory across most of the internet.</p>
        </div>
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Who will see my ads?</a>
        <div class="cd-faq-content">
          <p>We target your ads at people who have been to your site, but not bought anything. We optimize the number of ads each visitor sees over the next week (and month) to maximize your sales. When someone buys, we stop advertising to them.</p>
        </div>
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">What about adblockers?</a>
        <div class="cd-faq-content">
          <p>Adblockers work by preventing ads for loading. Since that ad-space is never sold, it means you don't pay to advertise to people who won't see your ads.</p>
        </div>
      </li>

    </ul>

    <ul id="account" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Account</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Do I have to pay right away?</a>
        <div class="cd-faq-content">
          <p>No, creating an account is free, and you only pay when you start to advertise. That means that you don't have to pay while getting your account set up.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Can I invite my team?</a>
        <div class="cd-faq-content">
          <p>Currently, every account is linked to a single email address and password. Please let us know if you require team accounts.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">I forgot my password</a>
        <div class="cd-faq-content">
          <p>Visit the <%= link_to "new password page", new_advertiser_password_path %> to have a password reset link sent to the email address associated with your account.</p>
        </div> <!-- cd-faq-content -->
      </li>

    </ul>

    <ul id="payments" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Payments</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">How much does it cost?</a>
        <div class="cd-faq-content">
          <p>We have tiered pricing, depending on the number of visitors to your site that we can advertise to (called your "Site Audience"). Visit the <a href="https://adsboomerang.com/#pricing">pricing page</a> to see the different tiers.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">How is Site Audience calculated?</a>
        <div class="cd-faq-content">
          <p>Your Site Audience is the number of visitors that we are able to advertise to. This means your Site Audience will be smaller than your total site traffic (since we exclude adblock users, webcrawlers, and people browsing in private mode).</p>
          <br>
          <p>We calculate your Site Audience as your average over the previous 30 days, so you won't be charged extra for sudden traffic spikes.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">What if I go over my visitor limit?</a>
        <div class="cd-faq-content">
          <p>You will never be charged more than your approved monthly plan. If your Average Site Audience is over your plan level for the entire month, we will randomly select a subset of your audience equal to your plan level to advertise to.</p>
          <br>
          <p>If your Site Audience is 2000 people, but your plan only includes 1000 visitors, we'll select a random 1000 of your visitors to advertise to. </p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Is my credit card info safe?</a>
        <div class="cd-faq-content">
          <p>Yes. Your credit card details are never stored by us, but instead are handled exclusively by <a href="http://stripe.com/">Stripe</a>, a dedicated payment processor with robust security.</p>
        </div> <!-- cd-faq-content -->
      </li>

    </ul>

    <ul id="privacy" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Privacy</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Do you collect personal info?</a>
        <div class="cd-faq-content">
          <p>No. We use anonymous cookies that are not linked to any PII (personally identifiable information), and can be deleted by clearing a web browser's cookies.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Can I use this in the EU?</a>
        <div class="cd-faq-content">
          <p>European privacy laws require websites mainly targeted at Europeans to gain consent regarding cookies. Since Ads Boomerang relies on cookies, you should gain visitors' consent before advertising to them. More details are available at
            <a href="https://www.cookielaw.org/the-cookie-law/">cookielaw.org</a>. </p>
        </div> <!-- cd-faq-content -->
      </li>
    </ul>

  </div>
  <a href="#0" class="cd-close-panel">Close</a>
</section>

<%= javascript_include_tag "pages/faq/main.js" %>
