<footer class="footer">
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy;2016 Best company</p>
        </div>
        <div class="col-md-6">
          <!--<p class="credit pull-right">Copyright <a href="#" class="external">Company</a></p>-->
        </div>
      </div>
    </div>
  </div>
</footer>