<!-- sign-in modal -->
<div id="sign-in" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
  <div class="modal-dialog modal-lg">
    <%= form_for(Advertiser.new, as: :advertiser, url: session_path(:advertiser)) do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h4 class="modal-title text-center">Sign in to your Account</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, id:"email_modal", type:"text",
                              placeholder:"name@company.com", class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder:"Enter a password", class:"form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              Sign in
              <i class="pe-7s-magic-wand"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
