<table>
  <tr>
    <td align="center" class="masthead">
      <h4>Refund Processed</h4>
    </td>
  </tr>
  <tr>
    <td class="content">
      <p>To: <%= @sale.email %></p>
      <p>Guid: <%= @sale.guid %></p>
      <p>Product: <%= @product.name %></p>
      <p>Amount: <%= formatted_price(@sale.amount) %></p>
    </td>
  </tr>
</table>
