<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Create Ad</h4>
      <p class="category">Upload a new ad to your Campaign</p>
    </div>
    <div class="content">

      <%= render 'form', creative: @creative %>

      <div class="footer">
        <hr>
        <div class="stats"></div>
      </div>
    </div>
  </div>
</div>