<h1>Editing Creative Line Item Assignment</h1>

<%= render 'form', creative_line_item_assignment: @creative_line_item_assignment %>

<%= link_to 'Show', @creative_line_item_assignment %> |
<%= link_to 'Back', creative_line_item_assignments_path %>
