
<div class="col-md-8">
  <div id="new-campaign-card" class="card">
    <div class="header">
      <h4 class="title">Create your Campaign</h4>
      <p class="category">Please enter the URL of your store, and a name</p>
    </div>
    <div class="content">
      <%= render 'form', campaign: @campaign %>

      <div class="footer">
        <hr>
        <div class="stats">
          <!--<i class="fa fa-check"></i> Data up-to-date as of-->
        </div>
      </div>
    </div>
  </div>
</div>