<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title"><%= @campaign.name %></h4>
      <p class="category">All info about the campaign</p>
      <%= link_to 'Edit', edit_campaign_path(@campaign) %>
      |
      <%= link_to 'Delete', @campaign, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="content">
    </div>
  </div>
</div>

