<table>
  <tr>
    <td align="center" class="masthead">
      <h2>Welcome to AdsDash</h2>
      <h4>Please Confirm your Account</h4>
    </td>
  </tr>
  <tr>
    <td class="content">

      <p>Hello <%= @email %>,</p>

      <p>Thank you for creating an AdsDash account.</p>

      <p>Please confirm your account by clicking the link below.
        This will allow you to start your campaign.</p>

      <table>
        <tr>
          <td align="center">
            <p>
              <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: "button" %>
            </p>
          </td>
        </tr>
      </table>
      <p>Thanks,</p>
      <p><em>– AdsDash Team</em></p>

    </td>
  </tr>
</table>