<table>
  <tr>
    <td align="center" class="masthead">
      <h4>Your Password has Changed</h4>
    </td>
  </tr>
  <tr>
    <td class="content">

      <p>Hello <%= @email %>,</p>

      <p>
        Your AdsDash password was just changed. If this wasn't you, your account may be at risk.
        Please <%= link_to "reset your password", new_advertiser_password_url %> right away.
      </p>

      <p>Thanks,</p>
      <p><em>– AdsDash Team</em></p>

    </td>
  </tr>
</table>
