<table>
  <tr>
    <td align="center" class="masthead">
      <h4>Reset your Password</h4>
    </td>
  </tr>
  <tr>
    <td class="content">

      <p>Hello <%= @email %>,</p>

      <p>
        A request to change your AdsDash password has been received.
        Please click the link below to set a new password.
      </p>

      <table>
        <tr>
          <td align="center">
            <p>
              <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "button" %>
            </p>
          </td>
        </tr>
      </table>

      <p>
        If you did not request a change, please ignore this email.
        Your password will not change until you set a new one.
      </p>

      <p>Thanks,</p>
      <p><em>– The AdsDash Team</em></p>

    </td>
  </tr>
</table>



